<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Api</directory>
            <directory>tests/Model</directory>
            <directory>tests/HttpClient</directory>
            <directory>tests/Exception</directory>
        </testsuite>
        <testsuite name="integration-readonly">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <groups>
        <exclude>
            <group>mutating</group>
        </exclude>
    </groups>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
